{% extends ':default:index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .error {
            background-color: rosybrown;
        }
    </style>
{% endblock %}


{% block error %}
    <hr>
    <div class="error">
        {{ error.message }}
    </div>
{% endblock %}
